<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="local_Tests.Local_Tests"/>
      <class name="tests_To_Be_Executed.Tests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
